.table-container {
	border-collapse: collapse;
	width: 100%;

	box-sizing: border-box;
	border: 1px solid #FFF;
}

.table-container thead {
	position: sticky;
	background-color: var(--footer-color);
	z-index: 2;
}
.table-container th {
	max-width: 250px;

	background-color: var(--lines-color);
	border: 1px solid var(--white);
	color: var(--white);
	border-top: none;

	padding: 10px 15px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.table-container td {
	max-width: 250px;

	box-sizing: border-box;
	border: 1px solid var(--white);
	padding: 7px 15px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}