.main-container {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url("../../../assets/portada.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	box-sizing: border-box;
	opacity: 1;

	position: relative;
}

.color-container {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	padding: 100px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	transition: all 0.2s ease;
}