.main-container {
	width: 100%;
	display: flex;
    flex-direction: column;
    gap: 20px;
	box-sizing: border-box;

    padding: 20px 25px 50px;
}

.home-container {
    width: 100%;

    padding: 50px 30px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;

    position: relative;

    background-color: var(--all-info-container-color);
}

@media (max-width: 500px) {
    .drop-date-container {
        flex-direction: column-reverse;
        /* justify-content: center; */
        gap: 20px;
    }
}