.wrapper-container1 {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;

    border: 1px solid var(--lines-color);

    display: flex;
    align-items: center;
    box-sizing: border-box;

    transition: all 0.2s ease;

	overflow: hidden;
}

.wrapper-container2 {
    width: 100%;
    height: 100%;

    background-color: transparent;
    box-sizing: border-box;

    display: flex;
    box-sizing: border-box;

    transition: all 0.2s ease;
}