.record-not-found-card-container {
    width: 99.1%;
    min-height: 300px;

    margin: 5px;
    padding: 10px;
    background-color: var(--white-025);

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;
    gap: 5px;
}
.record-not-found-card-container img {
    width: 25%;
    object-fit: contain;
}
.record-not-found-card-container p {
    text-align: center;
    font-style: italic;
}

@media(max-width: 650px) {
    .record-not-found-card-container img {
        width: 40%;
        object-fit: contain;
    }
}