:root{
    /* --navbar-color: #4172FF; */
    --navbar-color: #00589c;
    /* --navbar-color: #6ABFE1; */
    --navbar-responsive-color: rgba(65, 114, 255, 0.75);
    /* --navbar-responsive-color: rgba(106, 191, 225, 0.85); */

    --icon-colors: #FFF;
    --navbar-height: 100px;



    --white: #FFF;

    --footer-color: #3366cc;

    --login-color: #64C8BD;
    --label-color: #FFF;
    --button-color: #EBEBEB;
}