:root{
    ----main-body-color: #EEFAFF;
    
	--error-container-color: rgba(220, 37, 73, 0.75);
	--allok-container-color: rgba(37, 220, 73, 0.75);

    --navbar-color: #00589c;
    --navbar-responsive-color: rgba(65, 114, 255, 0.75);

    --containers-color: rgba(255, 255, 255, 0.2);
    --cards-container-color: rgba(255,255,255, 0.5);

    --icon-colors: #FFF;
    --navbar-height: 100px;

	--login-image: "../../../public/portada.jpg";

    --white: #FFF;
    --white-025: rgba(255,255,255,0.25);
    --white-05: rgba(255,255,255,0.5);
    --white-075: rgba(255,255,255,0.75);
    --white-08: rgba(255,255,255,0.8);

    --black: rgba(0,0,0,1);

	--excel-button-color: #3EB27F;

	--buttons-color: rgba(65, 114, 255, 0.75);
	--buttons-color-hover: rgba(65, 114, 255, 1);

    --footer-color: #3366cc;

    --login-color: #64C8BD;
    --label-color: #FFF;
    --button-color: #EBEBEB;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-body-color);
}
*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}