.button-card-container {
    width: 100%;
    background-color: var(--buttons-color);

    /* border: 1px solid var(--lines-color); */
    border-style: solid;
    border-color: var(--buttons-color);
    cursor: pointer;
    border-radius: 20px;


    color: var(--white);
    font-weight: bold;
    font-size: 16px;
	opacity: 0.9;
	transition: background-color 0.20s ease;
}
.button-card-container:hover {
    background-color: var(--buttons-color-hover);
    color: var(--white-to-black-color);
}
.button-card-container svg {
    width: 20px;
    height: 20px;
}